
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("AdminPage", "AccountNou", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Lista utilizatori</button>
    <button type="button" class="btn btn-default">Creare</button>
    <button type="button" class="btn btn-default">Update</button>
    <button type="button" class="btn btn-default">Delete</button>
    <button type="button" class="btn btn-default">DeleteAll</button>
</div>
}   
    <div>
    @Html.ActionLink("Back to List", "AdminPage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
